* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

main {
    width: 100%;
    position: relative;
    top: 69px;
}

.text {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

nav {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

nav img {
    margin-left: 10px;
    height: 50px;
    width: auto;
}

nav span {
    margin: auto 10px;
    text-decoration: underline;
}

div.mission.section {
    display: flex;
    position: relative;
    width: 100%;
    top: 0px;
    justify-content: center;
}

div.mission>img {
    width: 1200px;
    height: auto;
}

div.mission>div.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    top: calc(50% - 100px);
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

div.mission h2,
div.mission h4 {
    margin: 5px 0;
}

div.month.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

div.month.section>h2 {
    margin: 30px 0 0 0;
}

div.month.section>h4 {
    margin: 30px 0 0 0;
}

div.month.gallery {
    width: 1000px;
    margin: 40px 0;
}

div.month.gallery>.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

div.month.gallery>.row-1 {
    justify-content: space-between;
}

div.month.gallery>.row-2 {
    justify-content: center;
}

div.month.gallery>.row-2>.card {
    margin: 0 20px;
}

div.month.card {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.month.card>img {
    width: 300px;
    height: 200px;
}

div.month.card>h4 {
    margin-top: 10px;
}